.list-container{
    display: flex;
    
}
.list-filter{
    margin-left: 30px;
    width: 100% ;
    
}
.btn-filter{
    height: 60px !important;
    border-radius: 10px;
}
@media(max-width:576px){
    .list-filter{
        margin-left: 0px;
        margin-top: 10px;
    }
    .list-product-header{
        width: 100%;
        margin: 10px 0px !important;
    }
    .list-container{
        flex-direction: column !important;
        
    }
}