.user-card-admin{
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    

}
.user-card-name-admin{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #263238;
    padding-left:20px ;
    
}
.user-card-email-admin{
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    padding-left:20px ;
}